.footer-style{
    height: 80px;
    background-color: red;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width: 576px) {
    .footer-style{
        height: 150px;
        justify-content: start;
        padding-left: 20%;
    }
    
}